@import "../../../common/styles/sass/mixins";
@import "../../../common/styles/sass/variables";

.product{
  width: 968px;
  height: 308px;
  background: #FFFFFF;
  box-shadow: 4px 4px 47px #AB5E90;
  border-radius: 20px;
  @include flex(row);
  justify-content: space-between;
  align-items: center;
  padding: 0 55px;
  .product__info{
    @include flex(column);
    flex:1;
    gap:70px;
    margin-left: 20px;
    .product__info__chosen{
      @include flex(row);
      justify-content: space-between;
      align-items: flex-start;
      .product__title{
        margin: 0;
        @include text(20px, 900, 26px, $textColor1);
        font-family: 'Frank Ruhl Libre', sans-serif;
      }
      .product__infoBlock{
        @include flex(column);
          align-items: center;
        .product__item__title{
          @include text(20px, 400, 30px, #777777);
        }
        .product__item__number{
          @include text(32px, 300, 41px, $textColor1);
          font-family: 'Frank Ruhl Libre', sans-serif;
        }
      }
    }
    .product__info__select{
      @include flex(row);
      justify-content: space-between;
      align-items: flex-end;
      .product__info__color{
        @include flex(column);
        align-items: center;
        .product__info_colorTitle{
          @include text(20px, 400, 30px, #777);
        }
        .product__info__colorType{
          width: 42px;
          height: 42px;
          border-radius: 40px;
          background-color: #B17774;
        }
      }
      .iconRemove{
        cursor: pointer;
        &:hover{
          opacity: .8;
        }
      }
    }
  }
}