@import "../../common/styles/sass/mixins";
@import "../../common/styles/sass/variables";

.container{
  .categories{
    @include flex(row);
    justify-content: center;
    flex-wrap: wrap;
    gap:47px;
  }
}