@import "../../../common/styles/sass/mixins";
@import "../../../common/styles/sass/variables";

.customSelectContainer {
  @include flex(column);
  position: relative;

  .customSelect__title {
    @include text(20px, 400, 30px, #777777);
    @media screen and (max-width: 740px) {
      @include text(16px, 400, 20px, #777777);
    }
  }

  .customSelect {
    width: 100px;
    height: 40px;
    border: 0.404762px solid #161616;
    border-radius: 10px;
    padding: 0 12px 0 8px;
    appearance: none;
    overflow: hidden;
    //background: url("../../../assets/arrow.svg") no-repeat right;
    cursor: pointer;
    @include text(16px, 400, 24px, $textColor1);
    @media screen and (max-width: 740px) {
      width: 70px;
      height: 30px;
    }
  }

  .icon_container {
    position: absolute;
    width: 30px;
    height: 40px;
    right: 0;
    top: 40px;
    pointer-events: none;
    @media screen and (max-width: 740px) {
      top:25px;
    }
  }
}